.signup-container {
    display: flex;
  
  }
  
  .left-panel {
    width: 70%;
  }
  
  .left-panel img {
    width: 100%;
    height: 100vh;
  }
  
  .right {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100vh !important;
    overflow: scroll;

  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  .right h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 80px;
    text-align: center;
    color: #F5C000;
  }
  
  .right h3 {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .input-group input  {
    width: 316px;
    height: 46px;
    flex-shrink: 0;
background-color: #D9D9D999;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .select-input {
    width: 100%;
    height: 46px;
    flex-shrink: 0;
    background-color: #D9D9D999;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .checkbox-group label {
    font-size: 24px;
    margin-top: 10px; /* Adjust this value as needed */
  }
  
  button[type="submit"] {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 176px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 6px;
    background: rgba(245, 192, 0, 0.7);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }
  .checkbox-group label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; 
    font-size: 16px;
  }
  .checkbox-group{
    display: flex;
  }
  .checkbox-group input[type="checkbox"] {
    margin: 0 5px;
  }

  .error {
    color: red;
    font-size: 14px;
  }
  